# Excel files
*.xlsx
*.xls

# Exceptions for the data files we WANT to track
!hisbg_scraper/hisbg_outputs/HISBG_FINAL_DOCTORS_DATA.xlsx
!hisbg_scraper/hisbg_outputs/hisbg_city_dump.xlsx
!blsbg_scraper/blsbg_outputs/bg_medics_dynamic_2029.xlsx

# Log files and flags to ignore (we don't want flags in the repo)
CONTINUE_FLAG
CONTINUE_FLAG_BLSBG
hisbg_scraper/hisbg_outputs/CONTINUE_FLAG_HISBG
blsbg_scraper/blsbg_outputs/CONTINUE_FLAG_BLSBG

!hapche_scraper/hapche_outputs/hapche_data_mega.csv
!hapche_scraper/hapche_outputs/savegame_v5_auto.json
!hapche_scraper/hapche_outputs/parsed_urls.txt

hapche_scraper/hapche_outputs/CONTINUE_FLAG_HAPCHE

# Python cache
__pycache__/
*.pyc
